<p>panel works!</p>
<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col">
       <div class="p-3">
        
        <div class="card" style="width: 18rem;">
            <img src="https://th.bing.com/th/id/OIP.dRy3iD5zetm02WmkuYW2bQHaE5?w=259&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Gestionar Cursos</h5>
              <p class="card-text">Añade, elimina o modifica tus cursos</p>
              <a href="#" class="btn btn-primary" routerLink="/administrador">Ir!</a>
            </div>
          </div>
       
    </div>
      </div>
      <div class="col">
        <div class="p-3">

           
        </div>
      </div>
    </div>
  </div>
